.sb_rss_link {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.Ajax_Shoutbox_Widget .icons .lock {
	margin-right: 0.3em;
}

.Ajax_Shoutbox_Widget input[type="text"],
.Ajax_Shoutbox_Widget #sb_form .resizable textarea {
	margin-bottom: 0.5ex;
	padding: 0.2em;
}

@media screen and (min-width: 48em) {

	.Ajax_Shoutbox_Widget input[type="text"],
	.Ajax_Shoutbox_Widget #sb_form .resizable textarea {
		font-size: 10pt;
	}
	
}

.Ajax_Shoutbox_Widget ::-webkit-input-placeholder,  /* Chrome, Safari, Edge */
.Ajax_Shoutbox_Widget :-moz-placeholder,            /* Firefox < 19 */
.Ajax_Shoutbox_Widget ::-moz-placeholder,           /* Firefox 19+ */
.Ajax_Shoutbox_Widget :-ms-input-placeholder        /* IE 10-11 */
{
	color: darkgray;
}